{% extends 'layout/base.html' %}
<!-- display user selected graph -->

{% block content %}
<div id="graph-container">
    {% if graphs %}
    {% for graph in graphs %}
    <div class="container text-white">
        <h3>{{ graph.title }}</h3>
        {{ graph.div|safe }}
        
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="text-center mt-4">
    <form method="get" action="{% url 'data_view' %}">
        <button type="submit" class="btn btn-primary">Add New Graph</button>
    </form>
</div>

{% endblock content %}