{% extends 'layout/base.html' %}
<!-- display user selected graph -->
{% block content %}
<div id="graph-container">
    {% if graphs %}
    {% for graph in graphs %}
    <div class="container text-white">
        <h3 class="mt-4 mb-4">{{ graph.title }}</h3>
        {{ graph.div|safe }}
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="text-center mt-4 d-flex justify-content-center align-items-center mb-4">
    <form method="get" action="{% url '' %}">
        <button type="submit" class="btn btn-primary me-2">Add New Graph</button>
    </form>
    <form method="get" action="{% url 'download_graphs_pdf' %}">
        <button type="submit" class="btn btn-secondary">Download Graphs as PDF</button>
    </form>
</div>
{% endblock content %}
