{% extends 'layout/base.html' %}
{% block content %}

<!-- selected file information -->
<div class="container text-center w-auto mt-5 mb-2">
    {% if original_data and cleaned_data %}
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-dark rounded-4">
                <h2 class="card-title text-white mt-2">Original Data Information:</h2>
                <div class="card-body text-white">
                    <p class="card-text">Number of Rows: {{ original_data_info.rows }}</p>
                    <p class="card-text">Number of Columns: {{original_data_info.columns}}</p>
                    <p class="card-text">Column Names:

                        {% for column in original_data_info.column_names %}
                        <span class="badge bg-secondary">{{column}}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-dark rounded-4">
                <h2 class="card-title text-white mt-2">Cleaned Data Information:</h2>
                <div class="card-body text-white">
                    <p class="card-text">Number of Rows: {{cleaned_data_info.rows}}</p>
                    <p class="card-text">Number of Columns: {{cleaned_data_info.columns}}</p>
                    <p class="card-text">Column Names:
                        {% for column in cleaned_data_info.column_names %}
                        <span class="badge bg-secondary">{{column}}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Display the table -->
<div class="container text-white">
    <div id="csv-content">
        {% if original_data %}
        <div class="table-responsive">
            <h2 class="mt-3 mb-3">Original Data</h2>
            {{ original_data|safe }}
        </div>
        {% endif %}
        {% if cleaned_data %}
        <div class="table-responsive">
            <h2 class="mt-3 mb-3">Cleaned and Preprocessed Data</h2>
            {{ cleaned_data|safe }}
        </div>
        {% endif %}
    </div>
</div>

<!-- graph selection form -->
{% if original_data and cleaned_data %}
<div class="container text-white">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-4">Create a Graph</h3>
            <form method="POST" id="graph-form" action="{% url 'generated_graphs' %}">
                {% csrf_token %}
                <!-- hidden input to identify that this form is for plotting -->
                <input type="hidden" name="plot_type" value="bar">
                <div class="mb-3">
                    <label for="plot_type" class="form-label mt-2 mb-2">Select Plot Type</label>
                    <select name="plot_type" id="plot_type" class="form-select" required
                        onchange="updateColumnVisibility()">
                        <option value="">Choose...</option>
                        <option value="bar">Bar Chart</option>
                        <option value="hist">Histogram</option>
                        <option value="scatter">Scatter Plot</option>
                        <option value="pie">Pie Chart</option>
                        <option value="line">Line Chart</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="x_column" class="form-label mt-2 mb-2">Select X-axis Column</label>
                    <select name="x_column" id="x_column" class="form-select" required>
                        <option value="">Choose...</option>
                        {% for column in categorical_columns %}
                        <option value="{{column}}" class="categorical">{{column}}</option>
                        {% endfor %}
                        {% for column in numerical_columns %}
                        <option value="{{column}}" class="numerical">{{column}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3" id="y_column_div" style="display: none;">
                    <label for="y_column" class="form-label mt-2 mb-2">Select Y-axis Column</label>
                    <select name="y_column" id="y_column" class="form-select">
                        <option value="">Choose...</option>
                        {% for column in numerical_columns %}
                        <option value="{{column}}">{{column}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Generate Graph</button>
            </form>
        </div>
    </div>
</div>
{% endif %}

<!-- data visualizations -->
<div class="container text-white">
    <!-- histogram -->
    {% if histograms %}
    <h3 class="mt-3 mb-3">Data visualizations</h3>
    <h4 class="mt-3 mb-3">Histograms</h4>
    {% for hist in histograms %}
    <div class="mb-4">
        <h5 class="mb-3">{{ hist.title }}</h5>
        {{hist.div|safe}}
    </div>
    {% endfor %}
    {% endif %}

    <!-- scatter plots -->

    {% if scatter_plot %}
    <h4 class="mt-3 mb-3">Scatter Plot</h4>
    {% for scatter in scatter_plot %}
    <div class="mb-4">
        <h5 class="mt-2 mb-3">{{ scatter.title }}</h5>
        {{ scatter.div|safe }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        updateColumnVisibility(); // Call the function on page load
        document.getElementById('plot_type').addEventListener('change', updateColumnVisibility); // Call the function when plot type changes
        initializeDataTables(); // Initialize DataTables on page load
    });

    function initializeDataTables() {
        $('#original-data').DataTable({
            "paging": true, // Enable pagination
            "pageLength": 10, // Number of rows per page
            "lengthMenu": [10, 25, 50, 75, 100], // Options for number of rows per page
            "ordering": true, // Enable column ordering
            "info": true, // Show table information
            "searching": true, // Enable search functionality
            destroy: true
        });
        $('#cleaned-data').DataTable({
            "paging": true, // Enable pagination
            "pageLength": 10, // Number of rows per page
            "lengthMenu": [10, 25, 50, 75, 100], // Options for number of rows per page
            "ordering": true, // Enable column ordering
            "info": true, // Show table information
            "searching": true, // Enable search functionality
            destroy: true
        });
    }

    // initialize DataTables after HTMX content load
    document.body.addEventListener('htmx:afterSwap', (event) => {
        initializeDataTables();
    });

    // show or hide y-axis column selection based on plot type
    $(document).ready(function () {
        $('#plot_type').change(function () {
            var plotType = $(this).val();
            if (plotType === 'scatter' || plotType === 'line') {
                $('#y_column_div').show();
                $('#y_column').attr('required', 'required');
            } else {
                $('#y_column_div').hide();
                $('#y_column').removeAttr('required');
            }
        });
    });

    function updateColumnVisibility() {
        const plotType = document.getElementById('plot_type').value;
        const xColumnSelect = document.getElementById('x_column');
        const yColumnDiv = document.getElementById('y_column_div');
        const categoricalOptions = xColumnSelect.querySelectorAll('.categorical');
        const numericalOptions = xColumnSelect.querySelectorAll('.numerical');

        if (plotType === 'scatter' || plotType === 'line') {
            categoricalOptions.forEach(option => {
                option.style.display = 'none';
            });
        } else if(plotType === 'pie') {
            numericalOptions.forEach(option => {
                option.style.display = 'none';
            })
        }
    }

</script>
{% endblock js %}