{% extends 'layout/base.html' %}
{% load widget_tweaks %}

{% block css %}
<style>
    .body {
        font-family: 'Arial', sans-serif;
        height: 50vh;
    }

    .upload-container {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 3rem;
        border-radius: 20px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 500px;
        /* text-align: center; */
    }

    .upload-container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #ffd700;
        font-weight: bold;
    }

    .form-control {
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #ffd700;
    }

    .btn-upload {
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        border: none;
        padding: 10px 20px;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 30px;
        transition: all 0.3s ease;
        text-align: center;
    }

    .btn-upload:hover {
        background: linear-gradient(to right, #ff4b2b, #ff416c);
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 65, 108, 0.6);
    }

    a {
        color: #ffd700;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
{% endblock css %}


{% block content %}
<!-- file upload -->
<div class="body d-flex justify-content-center align-items-center text-white m-0 p-0">
    <div class="upload-container text-center">
        <h1>Upload a CSV File</h2>
            <!-- File Upload Form -->
            <form hx-post="{% url 'upload_file' %}" hx-target="#csv-content" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4 text-start">
                    <label for="id_file" class="mb-2">Select CSV file:</label>
                    <input class="form-control" id="id_file" type="file" name="file" accept=".csv" required>

                    {% if form.file.errors %}
                    <div class="text-danger">{{ form.file.errors }}</div>
                    {% endif %}

                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-upload btn-lg mb-3 ">Upload</button>
                </div>
            </form>
            <a href="{% url 'file_list' %}" class="btn btn-link">View Uploaded Files</a>
    </div>
</div>

<!-- uploaded file information -->
<div class="container text-center w-auto mt-2 mb-2">
    {% if original_data and cleaned_data %}
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-dark rounded-4">
                <h2 class="card-title text-white mt-2">Original Data Information:</h2>
                <div class="card-body text-white">
                    <p class="card-text">Number of Rows: {{ original_data_info.rows }}</p>
                    <p class="card-text">Number of Columns: {{original_data_info.columns}}</p>
                    <p class="card-text">Column Names:

                        {% for column in original_data_info.column_names %}
                        <span class="badge bg-secondary">{{column}}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-dark rounded-4">
                <h2 class="card-title text-white mt-2">Cleaned Data Information:</h2>
                <div class="card-body text-white">
                    <p class="card-text">Number of Rows: {{cleaned_data_info.rows}}</p>
                    <p class="card-text">Number of Columns: {{cleaned_data_info.columns}}</p>
                    <p class="card-text">Column Names:
                        {% for column in cleaned_data_info.column_names %}
                        <span class="badge bg-secondary">{{column}}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Display the table -->
<div class="container text-white">
    <div id="csv-content">
        {% if original_data %}
        <div class="table-responsive">
            <h2>Original Data</h2>
            {{ original_data|safe }}
        </div>
        {% endif %}
        {% if cleaned_data %}
        <div class="table-responsive">
            <h2>Cleaned and Preprocessed Data</h2>
            {{ cleaned_data|safe }}
        </div>
        {% endif %}
    </div>
</div>

<!-- graph selection form -->

{% if original_data and cleaned_data %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Create a Graph</h3>
            <form method="POST" id="graph-form" action="{% url 'upload_file' %}">
                {% csrf_token %}
                <!-- hidden input to identify that this form is for plotting -->
                <input type="hidden" name="plot_type" value="bar">
                <div class="mb-3">
                    <label for="plot_type" class="form-label">Select Plot Type</label>
                    <select name="plot_type" id="plot_type" class="form-select" required>
                        <option value="">Choose...</option>
                        <option value="bar">Bar Chart</option>
                        <option value="hist">Histogram</option>
                        <option value="scatter">Scatter Plot</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="x_column" class="form-label">Select X-axis Column</label>
                    <select name="x_column" id="x_column" class="form-select" required>
                        <option value="">Choose...</option>
                        {% for column in categorical_columns %}
                        <option value="{{column}}">{{column}}</option>
                        {% endfor %}
                        {% for column in numerical_columns %}
                        <option value="{{column}}">{{column}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3" id="y_column_div" style="display: none;">
                    <label for="y_column" class="form-label">Select Y-axis Column</label>
                    <select name="y_column" id="y_column" class="form-select">
                        <option value="">Choose...</option>
                        {% for column in numerical_columns %}
                        <option value="{{column}}">{{column}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Generate Graph</button>
            </form>
        </div>
    </div>
</div>
{% endif %}


<!-- display user selected graph -->
<div id="graph-container">
    
    {% if graphs %}
    {% for graph in graphs %}
    <div class="container text-white">
        <h3>{{ graph.title }}</h3>
        {{ graph.div|safe }}
    </div>
    {% endfor %}
    {% endif %}
        
    
        
</div>



<!-- data visualizations -->
<div class="container text-white">
    <!-- histogram -->
    {% if histograms %}
    <h3>Data visualizations</h3>
    <h4>Histograms</h4>
    {% for hist in histograms %}
    <div class="mb-4">
        <h5>{{ hist.title }}</h5>
        {{hist.div|safe}}
    </div>
    {% endfor %}
    {% endif %}

    <!-- scatter plots -->

    {% if scatter_div %}
    <h4>Scatter Plot</h4>
    <div class="mb-4">
        {{ scatter_div|safe }}
    </div>
    {% endif %}
</div>




{% endblock content %}

{% block js %}
<script>
    // initialize datatables on page load
    document.addEventListener("DOMContentLoaded", function () {
        initializeDataTables();
    });

    function initializeDataTables() {
        $('#original-data').DataTable({
            "paging": true, // Enable pagination
            "pageLength": 10, // Number of rows per page
            "lengthMenu": [10, 25, 50, 75, 100], // Options for number of rows per page
            "ordering": true, // Enable column ordering
            "info": true, // Show table information
            "searching": true, // Enable search functionality
            destroy: true
        });
        $('#cleaned-data').DataTable({
            "paging": true, // Enable pagination
            "pageLength": 10, // Number of rows per page
            "lengthMenu": [10, 25, 50, 75, 100], // Options for number of rows per page
            "ordering": true, // Enable column ordering
            "info": true, // Show table information
            "searching": true, // Enable search functionality
            destroy: true
        });
    }

    // initialize DataTables after HTMX content load
    document.body.addEventListener('htmx:afterSwap', (event) => {
        initializeDataTables();
    });

    // show or hide y-axis column selection based on plot type
    $(document).ready(function () {
        $('#plot_type').change(function () {
            var plotType = $(this).val();
            if (plotType === 'scatter') {
                $('#y_column_div').show();
                $('#y_column').attr('required', 'required');
            } else {
                $('#y_column_div').hide();
                $('#y_column').removeAttr('required');
            }
        });
    });

</script>
{% endblock js %}








<!-- 
<div class="container-fluid text-white">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Upload a CSV File</h2>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" class="form-label">File Name</label>
                    <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                        id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}"
                        value="{{ form.name.value|default_if_none:'' }}">
                    {% for error in form.name.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.file.id_for_label }}" class="form-label">Select CSV File</label>
                    <input type="file" class="form-control {% if form.file.errors %}is-invalid{% endif %}"
                        id="{{ form.file.id_for_label }}" name="{{ form.file.html_name }}">
                    {% for error in form.file.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <a href="{% url 'file_list' %}" class="btn btn-link mt-3">View Uploaded Files</a>
        </div>
    </div>
</div>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        const fileInput = document.getElementById('{{ form.file.id_for_label }}');
        const filePath = fileInput.value;
        const allowedExtensions = /(\.csv)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload a file with .csv extension.');
            fileInput.value = '';
            event.preventDefault();
        }
    });
</script>

    -->

<!-- <div class="row">
        <div class="col-md-6 offset-md-3 text-white">
            <h2>Upload a CSV File</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">File Name</label>
                    {{ form.name|add_class:"form-control" }}
                    {% if form.name.errors %}
                    <div class="text-danger">
                        {{ form.name.errors }}
                    </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="id_file" class="form-label">Select CSV File</label>
                    {{ form.file|add_class:"form-control" }}
                    {% if form.file.errors %}
                    <div class="text-danger">
                        {{ form.file.errors }}
                    </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <a href="{% url 'file_list' %}" class="btn btn-link mt-3">View Uploaded Files</a>
        </div>
    </div> -->

<!-- 
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Upload a CSV File</h2>
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}" class="form-label">File Name</label>
                <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                    id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}"
                    value="{{ form.name.value|default_if_none:'' }}">
                {% for error in form.name.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="{{ form.file.id_for_label }}" class="form-label">Select CSV File</label>
                <input type="file" class="form-control {% if form.file.errors %}is-invalid{% endif %}"
                    id="{{ form.file.id_for_label }}" name="{{ form.file.html_name }}">
                {% for error in form.file.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <a href="{% url 'file_list' %}" class="btn btn-link mt-3">View Uploaded Files</a>
    </div>
</div>
-->